*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: blueviolet;
}
#img1
{
    position: absolute;
    left: 500px;
    top: 110px;
    border-radius: 180px;
}
#img1
{
    position: absolute;
    left: 500px;
    top: 110px;
    border-radius: 180px;
}